@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100%;
    font-family: 'Roboto Mono', sans-serif;
    line-height: 1.5;
}

h1{
    font-size: 1.2rem;
    letter-spacing: 0.25rem;
}

li, a{
    cursor: pointer;
    list-style: none;
    letter-spacing: 0.25rem;
    font-size: 1.130rem;
    font-weight: bolder;
    text-decoration: none;
    color: #000;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 1em 5em;
    box-shadow: 0 0 1.25rem 0 #c6c6c6;
}
.nav-links{
    display: flex;
    gap: 1em;
    margin-right: 3em;
}

main{
    min-height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
}

section{
    display: grid;
    gap: 1em;
}

.container h2{
    padding: 0.60em 1em;
    border-radius: 15px;
    background-color: #000;
    color: #dddbdb;
}